<template>
    <div class="card border-primary mb-3 card-result">
        <div class="card-body">
            <p class="card-text">{{ carrierName }}</p>
            <p class="card-text">{{ countryArea }}</p>
        </div>
    </div>
</template>
<script>
    export default {

        props: ['carrierName', 'countryArea'],
        data() {

            return {}
        }

    }
</script>