// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.search-icon {
  width: 10pt;
}

.button-search {

  cursor: pointer;
}

.button-search:hover {
  opacity: 1;
}

.card-result{

  margin-top: 10pt;
}
.container {
  margin-top: 50pt;
  max-width: 768px;
}